<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회사정보</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
</head>
<body style="text-align: center;">
    <h1>Q6 - express 홈 페이지입니다.</h1>
    
    <a href="/company/home">홈으로</a>
    <span>
      <a href="/company/login">로그인</a>
    </span>
    <span>
      <a href="/company/info">회사정보</a>
    </span>
    <span>
      <a href="/company/location">회사위치</a>
    </span>
    <br>

        <img src="https://img.freepik.com/free-photo/businessmen-hands-on-white-table-with-documents-and-drafts_176420-349.jpg"
        style="width: 500px; height: 300px; margin-top: 30px;">

    
        <ul>
            <li>
                다이어트 보조식
            </li>
            <li>
                집중 다이어트식
            </li>
            <li>
                단백질 보조식
            </li>
        </ul>
</body>
</html>