<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <title>회사위치</title>
</head>
<body style="text-align: center;">
    <h1>Q6 - express 홈 페이지입니다.</h1>
    
    <a href="/company/home">홈으로</a>
    <span>
      <a href="/company/login">로그인</a>
    </span>
    <span>
      <a href="/company/info">회사정보</a>
    </span>
    <span>
      <a href="/company/location">회사위치</a>
    </span>

    <div style="margin-top: 30px;">
        <img src="https://previews.123rf.com/images/ramcreative/ramcreative1609/ramcreative160900053/64830708-%EA%B0%80%EC%83%81-%ED%98%84%EC%8B%A4-%EB%A7%B5%EC%97%90%EC%84%9C-%ED%95%80-%EB%A7%88%EC%BB%A4%EA%B0%80%EC%9E%88%EB%8A%94-%EB%AA%A8%EB%B0%94%EC%9D%BC-gps-%EB%84%A4%EB%B9%84%EA%B2%8C%EC%9D%B4%EC%85%98%EC%A7%80%EB%8F%84-%EC%9C%84%EC%B9%98.jpg"
            style="width: 300px; height: 300px; margin: 20px 20px;">
            
            <table style="text-align: center; display: flex; justify-content: center;">
                <tr>
                    <td>
                        대표번호
                    </td>
                    <td>
                        02-144
                    </td>
                </tr>
                <tr>
                    <td>
                        제품문의
                    </td>
                    <td>
                        02-155
                    </td>
                </tr>
            </table>
     
       
    </div>
    
</body>
</html>