<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <title>로그인 화면</title>
</head>
<body style="text-align: center;">
    <h1>Q6 - express 홈 페이지입니다.</h1>
    
    <a href="/company/home">홈으로</a>
    <span>
      <a href="/company/login">로그인</a>
    </span>
    <span>
      <a href="/company/info">회사정보</a>
    </span>
    <span>
      <a href="/company/location">회사위치</a>
    </span>
    <br>
    <form style="margin-top: 30px;">
        아이디 <input type="text"><br>
        패스워드 <input type="password" style="margin: 10px 0px;">
    </form>
</body>
</html>