<!DOCTYPE html>
<html>
  <head>
    <title>회사 홈페이지</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body style="text-align: center;">
    <h1>Q6 - express 홈 페이지입니다.</h1>
    
    <a href="/company/home">홈으로</a>
    <span>
      <a href="/company/login">로그인</a>
    </span>
    <span>
      <a href="/company/info">회사정보</a>
    </span>
    <span>
      <a href="/company/location">회사위치</a>
    </span>
    <h1 id="title">다이어트 전문 기업</h1>
  
    <img src="https://media.istockphoto.com/id/1363588189/ko/%EC%82%AC%EC%A7%84/%EC%BC%80%ED%86%A4%EC%83%9D%EC%84%B1-%EC%8B%9D%EB%8B%A8%EC%97%90-%EB%8C%80%ED%95%9C-%EA%B1%B4%EA%B0%95%ED%95%9C-%EB%9D%BC%EC%9D%B4%ED%94%84%EC%8A%A4%ED%83%80%EC%9D%BC-%ED%98%B8%EA%B8%B0%EC%84%B1-%EB%B0%94%EB%94%94-%EC%9A%B4%EB%8F%99-%EC%B2%B4%EC%9C%A1%EA%B4%80-%EC%9A%B4%EB%8F%99-%ED%9B%88%EB%A0%A8-%EA%B5%90%EC%8B%A4-%ED%94%BC%ED%8A%B8%EB%8B%88%EC%8A%A4-%EC%84%BC%ED%84%B0%EC%9D%98-%EC%9B%A8%EC%9D%B4%ED%8A%B8-%EC%8A%A4%EC%BC%80%EC%9D%BC-%EB%B0%8F-%EC%8A%A4%ED%8F%AC%EC%B8%A0-%EC%8A%88%EC%A6%88%EB%A1%9C-%EC%8B%AC%EC%9E%A5-%EC%A0%91%EC%8B%9C%EC%97%90-%EA%B9%A8%EB%81%97%ED%95%9C-%EC%BC%80%ED%86%A0-%EC%9D%8C%EC%8B%9D%EC%9D%84-%EB%A8%B9%EB%8A%94.jpg?s=612x612&w=0&k=20&c=dTMwBd6ZpCPM9iPXzTDSSxIsyaLjG7HngDG69T6irQM=">
  </body>
</html>
