<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>WELCOME TO NODE.JS</h1>
    <p>Node.js 세계에 오신 것을 환영합니다. </p>

    <a href="/home/contact">CONTACT</a>
    <span style="margin-left: 10px;">
      <a href="/home/home">HOME</a></span>
  </body>
</html>
